<!DOCTYPE html>
<html>

<head>
    <title>Communication</title>
    <link rel="stylesheet" type="text/css" href="console.css">
    <link rel="stylesheet" type="text/css" href="../games/games.css">
</head>

<body>
    <script src="../games/games.js"></script>
    <script src="../enigme/enigme.js"></script>
    <script src="../enigme/src/ressource.js"></script>
    <script src="../hacker/hacker.js"></script>
    <script src="console.js"></script>
    <div id="firstContainer" class="fontFamily">
        <div id="leftContainer">
            <div id="menuContainer" class="colors paddingContainer">
                <div id="loadingScreen">
                    <div id="loadingText">Chargement...</div>
                    <div id="loadingBarComponent">
                        <div id="loadingContainer">
                            <div id="loadingBarContainer">
                                <div id="loadingBar1" class="loadingBar"></div>
                                <div id="loadingBar2" class="loadingBar"></div>
                                <div id="loadingBar3" class="loadingBar"></div>
                                <div id="loadingBar4" class="loadingBar"></div>
                                <div id="loadingBar5" class="loadingBar"></div>
                                <div id="loadingBar6" class="loadingBar"></div>
                                <div id="loadingBar7" class="loadingBar"></div>
                                <div id="loadingBar8" class="loadingBar"></div>
                                <div id="loadingBar9" class="loadingBar"></div>
                                <div id="loadingBar10" class="loadingBar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="menu">
                    <div id="firstScenario" class="menuScenarios">
                        <div class="scenariosMenuText">Enigmes</div>
                    </div>
                    <div id="secondScenario" class="menuScenarios">
                        <div class="scenariosMenuText">Hacking</div>
                    </div>
                    <div id="thirdScenario" class="menuScenarios">
                        <div class="scenariosMenuText">Jeux</div>
                    </div>
                </div>
                <div id="displayScreen">
                    <div id="displayScreenTitle">
                        Bienvenue
                    </div>
                    <div id="displayScreenText">
                        <div id="enigmesText" class="scenariosDisplayText">
                            <strong>ENIGMES : </strong><br>
                            <br> Partez à l'aventure en aidant Merlin qui cherche depuis une éternité... à résoudre trois misérables énigmes.
                            <br>
                            <img src="../enigme/src/merlin0.png" style="display: block;margin: auto; height: 350px;" /> Si vous vous sentez prêt à l'aider, saissisez la commande "launch".
                        </div>
                        <div id="hackingText" class="scenariosDisplayText">
                            <div id="hackingTextBox">
                                <strong>HACKING : </strong><br>
                                <br> Dans ce scénario vous allez devoir saisir des commandes afin de riposter face à un hackeur et lui dérober ses données.
                                <br> TeL est prit qui croyait prendre.
                                <br> Vous ne serez pas seule. Un allié de taille vous donnera des instructions pour réussir.
                                <br> Suivez scrupuleusement la documentation que cet adjuvant vous écrit.
                                <br> Les commandes sont à saisir dans l'ordre d'apparition dans la documentation.
                                <br> Restez bien attentif au résultat des commandes. (dans l'encart juste audessus de la ligne de saisie.)
                            </div>
                            <div id="hackingTextImg">
                                <img id="img-tasse" class="hack-skull" style="display:none;" src="/tasse.png"></img>
                                <img id="img-robot" class="hack-skull" style="display:none;" src="/Robot.png"></img>
                                <img id="img-skull" class="hack-skull" style="display:none;" src="/crane-pirate-vert.jpg"></img>
                            </div>
                        </div>
                        <div id="gamesText" class="scenariosDisplayText">
                        </div>
                        <div id="commonText" class="scenariosDisplayText">
                            Bienvenue !<br>
                            <br> Nous vous proposons de récupérer nos informations en suivant les trois scénarios dont les noms sont indiqués à gauche de cet écran.
                            <br><br>Vous trouverez toutes les commandes disponibles à la saisie sur la droite.
                            <br><br>En bas à gauche de votre écran se trouvent la barre de saisie dans laquelle les commandes devront être entrées ainsi qu'un espace vous donnant des informations sur ces commandes.
                            <br><br>Pour envoyer une commande, il suffit d'appuyer sur la touche "Entrée" après l'avoir saisie.
                            <br>Sélectionnez une énigme avec la commande approriée et lancez vous dans le scénario en écrivant "launch".
                            <br><br>Bon courage !
                            <br><br><br><br><i>Vous pouvez à tout moment revenir sur la page d'Accueil en cliquant <a id="indexLink" href="./index.html">ici</a></i>
                        </div>
                    </div>
                </div>

            </div>
            <div id="commandResults" class="colors paddingContainer">
                <div id="textResults">
                    <div class="anim-typewriter">Microsoft Windows [version 10.0.18362.657] (c) 2019 Microsoft Corporation.<br> Tous droits réservés.</div>
                </div>
            </div>
            <div id="commandInput" class="colors paddingContainer">
                <div id="textInput" class="colors">
                    USER1457DESKTOP-4568 <span style="color: blueviolet">MINGW64</span> /c/Projets/Communication/Scenarios/ <span style="color: whitesmoke">(current-branch)</span>
                </div>
                <div id="input">
                    <div id="inputChevron">></div>
                    <input class="colors fontFamily" spellcheck="false">
                </div>
            </div>
        </div>
        <div id="rightContainer" class="colors paddingContainer">
            <div id="documentation">
                <div id="titleDocumentation">
                    Commandes disponibles :
                </div>
                <div id="textDocContainer">
                    <div id="docMenu" class="textDocumentation">
                        <h2>Sélectionner un scénario : </h2>
                        <strong>select --enigmas : </strong>Scénario Enigmes<br>
                        <strong>select --hacking : </strong>Scénario Hacking<br>
                        <strong>select --games &nbsp; : </strong>Scénario Jeux<br>
                        <h2>Charger un scénario : </h2>
                        <strong>launch</strong> : Charge le scénario sélectionné
                    </div>
                    <div id="docScenarioEnigmes" class="textDocumentation">
                        <h2>Commandes du scénario : </h2>
                        <strong>next : </strong>Passer à l'étape suivante<br>
                    </div>
                    <div id="docScenarioHacking" class="textDocumentation">
                        <h2>Commandes du scénario : </h2>
                        No commands founded for Hacking
                    </div>
                    <div id="docScenarioJeux" class="textDocumentation">
                        <h2>Commandes du scénario : </h2>
                        No commands founded for Jeux
                    </div>
                    <div id="docUtilities" class="textDocumentation">
                        <h2>Commandes utilitaires : </h2>
                        <strong>menu : </strong>Retourne au menu<br>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>