/**********/


/*---------------------- BODY / STRUCTURE / GENERIC ----------------------*/


/**********/

body {
    margin: 0;
}

#firstContainer {
    display: flex;
    height: 100vh;
}

#leftContainer {
    display: flex;
    flex-direction: column;
    flex: 3;
    border-right: 2px solid #05FC69;
}

#rightContainer {
    display: flex;
    flex: 1;
    border-left: 2px solid #05FC69;
}

#menuContainer {
    display: flex;
    flex: 10;
    border-bottom: 2px solid #05FC69;
    max-height: 74vh;
}

.colors {
    background-color: #061704;
    color: #05FC69;
}

.paddingContainer {
    padding: 5px;
}

.fontFamily {
    font-family: monospace;
}


/**********/


/*---------------------- LOADING ----------------------*/


/**********/

#loadingScreen {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#loadingText {
    flex: 1;
    display: flex;
    align-items: flex-end;
    margin: auto;
    font-size: 2em;
}

#loadingBarComponent {
    display: flex;
    flex: 2;
    margin: 50px 200px;
}

#loadingContainer {
    display: flex;
    flex: 1;
    height: 110px;
    align-items: center;
    border: 5px solid #05FC69;
}

#loadingBarContainer {
    display: flex;
    flex: 1;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    border: 5px solid #061704;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
}

.loadingBar {
    height: 110px;
    flex: 1;
    background-color: #05FC69;
    visibility: hidden;
}

.loadingTextPlus {
    align-items: center !important;
    flex: 0 !important;
    box-shadow: inset 0px 0px 20px 0px;
    border-radius: 20px;
    padding: 5px 25px;
}


/**********/


/*---------------------- MENU ----------------------*/


/**********/

#menu {
    display: none;
    flex-direction: column;
    flex: 1;
}

#firstScenario {}

#secondScenario {}

#thirdScenario {}

.menuScenarios {
    flex: 1;
    border: 1px solid #05FC69;
    border-left: 10px solid #05FC69;
    border-right: 10px solid #05FC69;
    margin: 30px;
    font-weight: bold;
}

.menuScenariosSelected {
    border: 1px solid white;
    border-left: 10px solid white;
    border-right: 10px solid white;
}

.scenariosMenuText {
    color: whitesmoke;
    font-size: xx-large;
    padding: 1em;
}


/**********/


/*---------------------- SCREEN ----------------------*/


/**********/

#displayScreen {
    display: none;
    flex-direction: column;
    flex: 3;
}

#displayScreenTitle {
    margin: 30px 30px 0px 30px;
    padding: 10px;
    color: #061704;
    font-size: xx-large;
    border: 2px solid whitesmoke;
    background-color: #05FC69;
    font-weight: bold;
}

#displayScreenText {
    display: flex;
    flex: 1;
    border: 1px solid #05FC69;
    border-top: 30px solid #05FC69;
    margin: 20px 30px 30px 30px;
    padding: 30px;
    overflow-y: auto;
    font-size: large;
}

.scenariosDisplayText {
    overflow-y: auto;
    padding: 5px;
}


/**********/


/*---------------------- COMMAND RESULT ----------------------*/


/**********/

#commandResults {
    flex: 2;
    border-bottom: 2px dotted #05FC69;
    overflow-y: auto;
}

#textResults {}


/**********/


/*---------------------- COMMAND INPUT ----------------------*/


/**********/

#commandInput {
    flex-direction: column;
    font-size: larger;
}

#textInput {
    visibility: hidden;
}

input {
    flex-basis: 100%;
    border: none;
    text-indent: 5px;
    font-size: x-large;
}

input:focus {
    outline: none;
}

#input {
    visibility: hidden;
    display: flex;
    height: 30px;
}

#inputChevron {
    margin: auto;
}


/**********/


/*---------------------- DOCUMENTATION ----------------------*/


/**********/

#documentation {
    display: none;
    flex: 1;
    overflow-y: auto;
}

#titleDocumentation {
    margin: 30px 30px 0px 30px;
    padding: 10px;
    color: #061704;
    font-size: xx-large;
    border: 2px solid whitesmoke;
    background-color: #05FC69;
    font-weight: bold;
}

.textDocumentation {
    margin: 30px;
    font-size: large;
    display: none;
}


/**********/


/*---------------------- SCROLLBAR ----------------------*/


/**********/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: 061704;
}

::-webkit-scrollbar-thumb {
    background: #05FC69;
}

::-webkit-scrollbar-thumb:hover {
    background: whitesmoke;
}


/**********/


/*---------------------- TYPE ANIMATION ----------------------*/


/**********/


/* Animation */

.anim-typewriter {
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 4s steps(40) 0s 1 normal both;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


/********************HACKER************************/

.hack-skull {
    width: 100%;
    height: auto;
}

#hackingText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#hackingTextImg {
    max-width: 400px;
    align-self: center;
}

.whiteLink {
    color: white;
}

.fileLaF {
    border: 1px solid #05FC69;
    padding: 10px;
    min-height: 300px;
}

#hackingCvPdf {
    display: flex;
    flex: 1;
}


/******************ENIGME*******************/

#enigmesText {
    display: flex;
    flex: 1;
}

#indexLink {
    color: whitesmoke
}