<!DOCTYPE html>
<html>
    
    <head>
        <title>Communication</title>
        <style>
            .text{
                color: red;
            }
        </style>
    </head>

    <body>
        <div id="menu">
        <a href="/">accueil</a>
        <a href="/console">console</a>
        <a href="/directInfos">directInfos</a>
    </div>
        <div class="text">
Corentin GRANDCHAMPS :
        LES INFOS
    </div>
<a href="../../ressources/scenarii_morpion.PNG">Télécharger le CV de Corentin GRANDCHAMPS</a>

    </body>

</html>