<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Communication</title>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>
<body>
    <div id="menu">
        <a href="/">accueil</a>
        <a href="/console">console</a>
        <a href="/directInfos">directInfos</a>
    </div>
    <div class="AccueilText">
        Bonjour et bienvenu sur ce site créé à l'occassion d'un projet de communication visant à présenter nos expériences professionnelles de façon ludique.
        Je vous invites à vous rendre sur la page <a href="/console">console</a> pour pouvoir jouer.
        Si vous souhaitez voir directement les informations et télécharger nos cv, rendez vous a cette adresse <a href="/directInfos">Information</a>
    </div>
</body>
</html>