<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Communication</title>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>
<header>
    <div id="top_onglet">
        Projet Communication
    </div>
    <div id="menu">
        <a href="./index.html">Accueil</a>
        <a href="./console.html">Terminal</a>
        <a href="./informations.html">Informations</a>
    </div>
</header>
<body>
    
    <div class="ongletGrouped">
        <div id="onglet_title">Informations Utilisateur</div>
        <div id="onglet_body">
            Dans le cadre de ce projet de communication dont les objectifs étaient :
            <ul>
                <li>De réunir des informations sur soi sous forme de paragraphes,</li>
                <li>De présenter un CV à jour,</li>
                <li>De livrer les deux précédents points par le biais d'un projet informatique,</li>
            </ul>
            Nous vous proposons de récupérer ses dites informations en déroulant les trois scénarios que nous avons
            préparé et qui vous attendent dans le <a href="./console.html">Terminal</a>.<br><br>
            Néanmoins, si vous souhaitez accéder à nos informations sans avoir à les reparcourir, nous vous proposons
            aussi une page qui contient toutes nos <a href="./informations.html">Informations</a>.
        </div>
        <div id="onglet_foot"></div>
    </div>
</body>
</html>