<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Communication</title>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>
<header>
    <div id="top_onglet">
        Projet Communication
    </div>
    <div id="menu">
        <a href="./index.html">Accueil</a>
        <a href="./console.html">Console</a>
        <a href="./informations.html">Informations</a>
    </div>
</header>
<body>
    
    <div id="onglet" style="width: 500px;margin-top: 200px;margin-left: auto;margin-right: auto;">
        <div id="onglet_title">Informations Utilisateur</div>
        <div id="onglet_body">
            Bonjour et bienvenu sur ce site créé à l'occassion d'un projet de communication visant à présenter nos expériences professionnelles de façon ludique.</br></br>
            Je vous invites à vous rendre sur la page <a href="./console.html">console</a> pour pouvoir jouer.</br></br>
            Si vous souhaitez voir directement les informations et télécharger nos cv, rendez vous a cette adresse <a href="./informations.html">informations</a>
        </div>
        <div id="onglet_foot"></div>
    </div>
</body>
</html>