<!DOCTYPE html>
<html>

<head>
    <title>Communication</title>
    <link rel="stylesheet" type="text/css" href="./index.css">
    <link rel="stylesheet" type="text/css" href="./informations.css">
</head>

<header>    
    <div id="top_onglet">
        Projet Communication
    </div>
    <div id="menu">
        <a href="./index.html">Accueil</a>
        <a href="./console.html">Terminal</a>
        <a href="./informations.html">Informations</a>
    </div>
</header>

<body>


    <div id="pageContent">
        <div id="cardsContainer">
            <div id="cardA" class="cards">
                <div id="cardATitle" class="cardsTitle">
                    Ancelin GLORIES
                </div>
                <div id="cardAContent" class="cardsContent">
                    <div id="cardAImage" class="cardsImageContainer">
                        <img src="/ancelin.jpg" class="cardsImage" alt="photoAncelin">
                    </div>
                    <div id="cardALinks" class="cardsLinksContainer">
                        <div id="cardADetails" class="cardsLinks" >
                            <a class="cardsFontLinks">Plus d'informations</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cardC" class="cards">
                <div id="cardCTitle" class="cardsTitle">
                    Corentin GRANDCHAMPS
                </div>
                <div id="cardCContent" class="cardsContent">
                    <div id="cardCImage" class="cardsImageContainer">
                        <img class="cardsImage" src="/corentin.jpg" alt="photoCorentin">
                    </div>
                    <div id="cardCLinks" class="cardsLinksContainer">
                        <div id="cardCDetails" class="cardsLinks" >
                            <a class="cardsFontLinks">Plus d'informations</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cardQ" class="cards">
                <div id="cardQTitle" class="cardsTitle">
                    Quentin CESCHIN
                </div>
                <div id="cardQContent" class="cardsContent">
                    <div id="cardQImage" class="cardsImageContainer">
                        <img src="/quentin.jpg" class="cardsImage" alt="photoQuentin">
                    </div>
                    <div id="cardQLinks" class="cardsLinksContainer">
                        <div id="cardQDetails" class="cardsLinks" >
                            <a class="cardsFontLinks">Plus d'informations</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bodyContainer">
            <div id="bodyTitleContainer">
                <div class="textsMarge"></div>
                <div id="bodyTitle"></div>
                <div class="textsMargeFlex3"></div>
            </div>
            <div id="bodyContent">
                <div class="textsMarge"></div>
                <div id="blocAncelin" class="container">
                    <div class="paragraphe paragrapheCV">
                        <a class="linksCV" href="/Glories_CV.pdf" target="_blank">Télécharger&nbsp;son&nbsp;CV</a>
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Vos attentes :</u></br><br>
                        Après cette formation, j’aimerais poursuivre mes études. Je suis encore étudiant, jeune et motivé à apprendre, 
                        je préfère donc faire en sorte d’atteindre mes limites dans les études. Je souhaiterais alors faire une thèse, 
                        si possible dans le domaine de la recherche en micro-informatique, sujet qui me passionne énormément, 
                        dans le but d’améliorer mes compétences. Dans le cas où il m’est impossible de poursuivre mes études, 
                        j’aimerais travailler directement dans la même entreprise que mon alternance qui, 
                        jusque-là, apprécie mon travail. Dans un futur plus lointain, j’aimerais travailler dans la micro-informatique au sens large du terme (conception de processeur, 
                        programmation de systèmes embarqués, etc…).
                        
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Vos Compétences Professionnelles :</u></br></br>
                        •	Le travail d’équipe, qui selon moi est crucial dans une entreprise,</br>
                        •	Ma polyvalence,</br>
                        •	Le fait d’être rigoureux renforce ma capacité à vouloir faire et rendre un travail de qualité,</br>
                        •	Ma curiosité est de loin mon meilleur atout car c’est grâce à lui que j’aime ce que je fais aujourd’hui,</br>
                        •	Etre persévérant et savoir prendre du recul me permet de réfléchir strategiquement,</br>
                        •	Mon autonomie est aussi très appréciée en entreprise.
                            
                        
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Vos traits de personnalité :</u></br><br>
                        Ils ont été évalués dans différents milieux : au sein de ma famille, de mes amis, et moi-même.
                        Selon eux je suis quelqu’un qui est à l’aise en travail d’équipe (coopératif, impliqué, à l’écoute, rationnel), 
                        mais malgré tout renfermé (timide, réservé, ayant du mal à accorder sa confiance aux amis proches), 
                        et parfois dur avec moi-même (isolement en cas de difficulté, manque de confiance en soi, a du mal à se mettre en valeur). 
                        Cependant tout cela n’affecte en rien mes capacités à être cool, respectueux, poli, rétro, empathique, intelligent, calme, …
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Vos centres d'intérêt :</u></br><br>
                        Ils sont assez ciblés : lire, jouer aux jeux vidéo, informatique 
                        (amateur de collection de vieux ordinateurs, apprentissage de vieux langages de programmation), 
                        électronique (Arduino, Raspberry PI), autodidacte (électronique, informatique, micro-informatique).
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Votre itinéraire pro-passé :</u></br><br>
                        Après le collège, je suis allé en lycée professionnel, notamment en raison du peu de sérieux que j’avais à ce moment-là. 
                        Mon choix s’est alors porté sur le Bac Processionnel Système Electronique et Numérique dans le lycée Déodat de Séverac. 
                        Durant ces trois années, ma passion dans le domaine de l’informatique n’a fait que croitre. 
                        De plus, je pris peu à peu goût au développement informatique durant mes différentes sessions de stage en entreprise 
                        (je remercie David PHAM, gérant de la société D@videv Informatique pour m’avoir formé). 
                        A la fin de cette formation, j’ai hésité entre continuer mes études avec un BTS SIO au lycée Ozenne à Toulouse ou poursuivre 
                        au lycée Déodat de Séverac avec le BTS Système Numérique. Après quelques semaines de réflexion, 
                        j’ai décidé de mettre le BTS SN (système numérique) en premier vœu, étant déjà scolarisé au lycée Déodat, 
                        et ayant mes amis dans le même établissement. De ce fait le BTS SIO fut mis en seconde place, jugé à mes yeux moins important.
                        Mon premier vœu a alors été accepté. Après ces deux années en BTS SN, j’ai dû décider ou non de poursuivre mes études. 
                        Etant major de promotion à ce moment-là, je ne voulais pas gâcher ma chance de pouvoir continuer vers une licence classique 
                        ou professionnelle. J’ai alors posé me candidature dans différentes écoles, que ce soit en licence informatique (L2 et L3) 
                        à l’université Paul Sabatier ou dans des licences professionnelles. Au final, une seule formation m’a accepté : 
                        la licence professionnelle APSIO (Analyste Programmateur de Systèmes Informatiques Ouvert) à l’IUT de Blagnac. 
                        J’ai donc dû contacter plusieurs entreprises acceptant de prendre des étudiants en alternance. Je fus alors pris chez Engie 
                        INEO. Après un entretien concluant, j’ai commencé à travailler là-bas. A la fin de cette année de licence, souhaitant 
                        poursuivre mes études, j’ai soumis ma candidature dans différentes écoles : l’ENSEEIHT (que deux employés d’Engie INEO 
                        m’avaient conseillé), le Master ICE en alternance à l’université Toulouse II Jean Jaurès et d’autres formations 
                        professionnelles. Je fus pris dans le Master quelques jours seulement avant le début des cours. Je suis donc 
                        resté dans la même entreprise.
                        Si aucune formation ne m’avait accepté, j’aurais alors signé un CDI chez Engie.
                    </div>
                </div>
                <div id="blocCorentin" class="container">
                    <div class="paragraphe paragrapheCV">
                        <a class="linksCV" href="/Grandchamps_C_CV.pdf" target="_blank">Télécharger&nbsp;son&nbsp;CV</a>
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Traits de personnalité : </u><br><br>D'après mes proches, j'ai globalement bon fond, je suis
                        ainsi
                        sympathique, gentil, protecteur, drôle, agréable, calme, patient, à l'écoute, intelligent,
                        curieux, optimiste. On dit de moi que je suis plus extraverti qu'introverti, que la confiance
                        que j'ai en moi peut se voir ce qui me permet d'être facilement sociable. D'après eux, j'ai
                        aussi une personnalité forte, dans le sens où je me positionne naturellement facilement comme
                        leader du groupe. Je sais faire preuve de sérieux, d'implication et de sang-froid lorsqu'il le
                        faut. D'un autre coté je suis aussi quelqu'un de tétu et de fier. Je suis souvent maladroit, je
                        manque d'habileté avec les mots lorsqu'il s'agit de m'exprimer oralement, je ne sais pas cacher
                        mes émotions. Je suis aussi parfois égoïste. Malgrè mon tempéramment calme, je peux être très
                        sanguin sur certains sujets. Je travaille d'ailleurs cet aspect là de moi pour faire passer la
                        réflexion avant les émotions lorsque j'explose de colère. Quand je ne me contrôle plus, je ne
                        suis pas très sympathique ; j'envoie simplement bouler le monde. Pour terminer, mon truc, c'est
                        d'apprendre de mes erreurs et de toujours voir le bon côté des situations passées, même des
                        pires.
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Centres d'intérêts : </u><br><br>A une époque je faisais du théatre, j'ai ensuite fais du dessin
                        pendant 7 petites années. Entre temps j'ai fais un peu de basse et j'ai même créé quelques
                        musiques sur des logiciels dédiés. J'aime cuisiner et expérimenter des plats. Globalement j'aime
                        toucher à tout, guidé par ma curiosité.<br>En terme de divertissement, comme beaucoup de monde,
                        je profite des films et séries. Je lis aussi, romans, BD, comics, mangas... Mais ce que j'aime
                        par dessus tout faire c'est jouer aux jeux vidéos. Parmi les jeux que j'affectionne on
                        retrouvera principalement les jeux de stratégie et de gestion. Je joue aux jeux vidéos depuis
                        très longtemps et de cette passion en a découlé une curiosité pour l'informatique. J'en ai
                        finalement fait ma vocation et dirai qu'un domaine pour lequel je porte de l'intérêt serait
                        surtout celui de l'intelligence artificielle et de la robotique.
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Itinéraire professionnel passé : </u><br><br>Je pense que ce qu'il est important de retenir, c'est que j'ai
                        commencé à m'orienter dans l'informatique durant le lycée. J'ai eu la chance en Terminale
                        Scientifique de pouvoir accéder à cette option \"Informatique et Sciecnes du Numérique\" qui m'a
                        rendu confiant dans le fait que l'informatique pouvait me plaire. S'en est suivi un passage à la
                        faculté. J'étais ainsi dans la filiaire Sciences Fondamentales Appliquées spécialité
                        Informatique. J'ai redoublé à deux reprises ma première année pour finalement orienter ma
                        formation vers le BTS Services Informatiques aux Organisations (SIO), avec en seconde année la
                        spécialité Solutions Logicielles et Applications Métiers (SLAM). Ce BTS offre de nombreuses
                        informations et permet d'approcher plusieurs domaines liés à l'informatique. Je pensais alors
                        m'arrêter à BAC+2 ayant perdu une certaine confiance en moi lors du passage à la faculté.
                        <br><br>Finalement j'ai été parmi le podium de la promo du BTS ce qui m'a fait envisager de
                        continuer, au moins pour une année, mes études. Ainsi j'ai mis le cap sur une Licence
                        Professionnelle (APSIO) en alternance. L'idée c'était de développer mon expérience
                        professionnelle (réduite au mois de stage réalisés en BTS) tout en continuant d'étudier. Le but
                        final étant d'avoir un diplôme BAC+3 et 1 an d'expérience pour rentrer dans la vie
                        active.<br><br> Bon, si vous me lisez là, vous vous doutez bien de la suite... J'ai été parmi le
                        top de la promo de la Licence Professionnelle. Et ça, ça ouvre des portes que je n'envisageais
                        plus atteindre après la faculté. Ainsi, poussé par ma réussite, je me suis accordé le droit de
                        penser que je pouvais avoir accès à un Master, afin de finalement réaliser un BAC+5, être
                        \"ingénieur\" et ainsi faciliter ma vie future. Je n'avais pas beaucoup de choix à ce moment là,
                        puisque reprendre un Master à formation continue m'aurait privé de mes ressources financières
                        dont je dépendais. Mon dévoulu s'est donc jeté sur le Master ICE, réalisable en alternance,
                        disponible sur Toulouse. Et je suis vraiment heureux d'avoir réalisé ce parcours pour le moins
                        marginal. Je n'ai aucun regret.
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Incidents de parcours : </u><br><br>Depuis tout petit, j'use de mes facilités pour réussir. Au
                        collège
                        j'avais de bonnes notes sans travailler. Arrivé au lycée, mes facilités n'ont plus compensé les
                        connaissances nécessaires pour être \"bon\" scolairement parlant. J'ai sauvé mon bac de justesse
                        et je me suis tourné automatiquement vers la faculté sans réfléchir à d'autres options. Si on
                        remonte à mon année de Première, c'est durant les vacances de Toussaint que mon père et ma mère,
                        jusqu'alors mariés, se sont séparés, non sans complications et violences (verbales et
                        psychologiques). Notre père a quitté le domicile familial avant la fin des vacances, nous
                        laissant la maison à ma mère, mon petit frère et moi. Mon frère et moi on avait une relation
                        conflictuelle. Notre mère n'avais pas énormément d'autorité, puisque c'était notre père qui
                        assumait ce rôle. Bref, arrivé la fin de la Terminale, je me suis littéralement enfui de là-bas.
                        Une fois sur Toulouse, j'ai été d'abord en collocation avec des amis, puis en couple dans un
                        appartement. C'est aussi là que j'ai compris que je ne pourrais plus avoir confiance en mon
                        père, que je ne pourrais plus compter sur lui. Mais c'est surtout durant ces deux années de
                        faculté que je me suis reconstruit, que j'ai gagné en maturité, que j'ai profité de cette
                        nouvelle vie pour l'apppréhender et pour fermement la prendre en main. Je n'ai pas perdu deux
                        ans de ma vie, c'était une passe nécessaire à mon accomplissement.
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Compétences professionnelles : </u><br><br>Je pense que mes années de formation et d'expérience
                        m'ont apporté les compétences techniques nécessaires pour m'épanouir dans mon travail
                        techniquement. En outre, je suis quelqu'un d'autonome, je sais m'adapter aux situations que je
                        rencontre, je m'implique beaucoup et j'irai jusqu'à dire que j'ai un souci du détail. Mon chef
                        de projet m'a dit que j'apprends vite les choses, que je me les approprie vite. Je fais
                        énormément attention à mon attitude. J'essaie de gérer les conflits au mieux, sans laisser mes
                        émotions prendre le dessus (étant sanguin sur certains sujets c'est primordial pour éviter les
                        conséquences fâcheuses d'actes et de paroles démesurés et peu intelligents). On est là pour
                        faire avancer les choses intelligemment. Jusqu'à présent je réagissais mal aux changements, aux
                        critiques, et au fait de m'ouvrir à de nouvelles choses. Je travaille aussi énormément cet
                        aspect là pour modifier ce comportement enfantin, néfaste pour mon évolution personnelle et
                        professionnelle. Je reste professionnel lors de mes échanges avec les autres collaborateurs,
                        même avec ceux que je n'apprécie pas. Travailler en équipe ne me pose aucuns souci tant que
                        l'honnêté prime. J'essaie d'être rapide et efficace dans mes réalisations, l'idée étant de
                        répondre aux besoins dans le temps imparti.
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Attentes professionnelles et personnelles : </u><br><br>J'ai un projet ambitieux, de monter ma
                        propre société de jeux vidéos indépendants. Pour ce faire, il faut absolument que mon expérience
                        professionnelle se fasse dans un premier temps techniquement, puis managerialement.<br><br>A
                        court terme, je souhaite continuer de faire évoluer mes connaissances techniques dans le domaine
                        que je côtoie aujourd'hui. A moyen terme je souhaite développer des compétences de chef de
                        projet et de relation client. Entre ces objectifs, mon envie personnelle est de réaliser un long
                        voyage en solitaire, pour m'obliger à sortir de mon confort, m'obliger à dépasser celui que je
                        suis aujourd'hui et revenir en France (ou pas ?) avec une version meilleure de moi.
                    </div>
                </div>
                <div id="blocQuentin" class="container">
                    <div class="paragraphe paragrapheCV">
                        <a class="linksCV" href="" target="_blank">Télécharger&nbsp;son&nbsp;CV</a>
                    </div>
                    <div class="paragraphe">
                    </div>
                    <div class="paragraphe">
                    </div>
                    <div class="paragraphe">
                    </div>
                    <div class="paragraphe">
                    </div>
                    <div class="paragraphe">
                    </div>
                    <div class="paragraphe">
                    </div>
                </div>
                <div class="textsMarge"></div>
            </div>
        </div>
    </div>
    <script src="./informations.js"></script>
</body>

</html>