html {
    scroll-behavior: smooth;
}

.text {
    color: black;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
    flex: 3;
    background: black;
    border: 2px solid #05FC69;
    box-shadow: 12px 12px 0px 0px rgb(0, 0, 0);
}

.asset {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#main {
    display: flex;
    flex-direction: column;
}

img {
    height: auto;
    width: 100%;
}

#developpersGrid {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-left: 20%;
    padding-right: 20%;
}

#pageContent {
    display: flex;
    flex-direction: column;
}

#cardsContainer {
    display: flex;
    margin: auto;
}

.cards {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 260px;
    margin: 5vh;
    padding: 5px;
    background-color: #05FC69;
    border: 2px solid black;
    box-shadow: 12px 12px 0px 0px rgb(0, 0, 0);
    cursor: pointer;
}


.cards:hover {
    opacity: 0.5;
}
.cardsTitle {
    text-align: center;
    padding-bottom: 10px;
}

.cardsContent {
    display: flex;
    flex-direction: column;
    background-color: #061704;
}

.cardsImageContainer {
    text-align: center;
    background-color: black;
}

.cardsImage {
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
    padding: 5px 5px 0px 5px;
}

.cardsLinksContainer {
    padding: 5px;
    text-align: center;
}

.cardsLinks {
    padding: 5px;
}

.cardsFontLinks {
    color: whitesmoke;
    cursor: pointer;
}

#bodyContainer {
    display: none;
    margin: auto;
    flex-direction: column;
}

#bodyTitleContainer {
    display: flex;
}

#bodyTitle {
    text-align: center;
    background-color: #05FC69;
    padding: 10px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 10px 10px 0px 0px;
}

#bodyContent {
    display: flex;
    padding-bottom: 15px;
}

.textsMarge {
    flex: 1;
}

.textsMargeFlex3 {
    flex: 3;
}

#blocAncelin {
    display: none;
}

#blocQuentin {
    display: none;
}

#blocCorentin {
    display: none;
}

.paragraphe {
    font-family: sans-serif;
    text-align: justify;
    padding: 15px 30px;
    color: whitesmoke;
}

.linksCV {
    color: black;
    background-color: #05FC69;
    text-decoration: none;
    padding: 15px;
    border: 2px solid whitesmoke;
}

.linksCV:hover {
    background-color: rgba(5, 252, 104, 0.747);
}

.paragrapheCV {
    text-align: right;
}