<!DOCTYPE html>
<html>

<head>
    <title>Communication</title>
    <link rel="stylesheet" type="text/css" href="./index.css">
    <link rel="stylesheet" type="text/css" href="./informations.css">
</head>

<header>
    <div id="top_onglet">
        Projet Communication
    </div>
    <div id="menu">
        <a href="./index.html">Accueil</a>
        <a href="./console.html">Terminal</a>
        <a href="./informations.html">Informations</a>
    </div>
</header>

<body>


    <div id="pageContent">
        <div id="cardsContainer">
            <div id="cardA" class="cards">
                <div id="cardATitle" class="cardsTitle">
                    Ancelin GLORIES
                </div>
                <div id="cardAContent" class="cardsContent">
                    <div id="cardAImage" class="cardsImageContainer">
                        <img src="/ancelin.jpg" class="cardsImage" alt="photoAncelin">
                    </div>
                    <div id="cardALinks" class="cardsLinksContainer">
                        <div id="cardADetails" class="cardsLinks">
                            <a class="cardsFontLinks">Plus d'informations</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cardC" class="cards">
                <div id="cardCTitle" class="cardsTitle">
                    Corentin GRANDCHAMPS
                </div>
                <div id="cardCContent" class="cardsContent">
                    <div id="cardCImage" class="cardsImageContainer">
                        <img class="cardsImage" src="/corentin.jpg" alt="photoCorentin">
                    </div>
                    <div id="cardCLinks" class="cardsLinksContainer">
                        <div id="cardCDetails" class="cardsLinks">
                            <a class="cardsFontLinks">Plus d'informations</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cardQ" class="cards">
                <div id="cardQTitle" class="cardsTitle">
                    Quentin CESCHIN
                </div>
                <div id="cardQContent" class="cardsContent">
                    <div id="cardQImage" class="cardsImageContainer">
                        <img src="/quentin.jpg" class="cardsImage" alt="photoQuentin">
                    </div>
                    <div id="cardQLinks" class="cardsLinksContainer">
                        <div id="cardQDetails" class="cardsLinks">
                            <a class="cardsFontLinks">Plus d'informations</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bodyContainer">
            <div id="bodyTitleContainer">
                <div class="textsMarge"></div>
                <div id="bodyTitle"></div>
                <div class="textsMargeFlex3"></div>
            </div>
            <div id="bodyContent">
                <div class="textsMarge"></div>
                <div id="blocAncelin" class="container">
                    <div class="paragraphe paragrapheCV">
                        <a class="linksCV" href="/Glories_CV.pdf" target="_blank">Télécharger&nbsp;son&nbsp;CV</a>
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Vos attentes :</u></br><br> Après cette formation, j’aimerais poursuivre mes études. Je suis encore étudiant, jeune et motivé à apprendre, je préfère donc faire en sorte d’atteindre mes limites dans les
                        études. Je souhaiterais alors faire une thèse, si possible dans le domaine de la recherche en micro-informatique, sujet qui me passionne énormément, dans le but d’améliorer mes compétences. Dans le cas où il m’est impossible de
                        poursuivre mes études, j’aimerais travailler directement dans la même entreprise que mon alternance qui, jusque-là, apprécie mon travail. Dans un futur plus lointain, j’aimerais travailler dans la micro-informatique au sens large
                        du terme (conception de processeur, programmation de systèmes embarqués, etc…).

                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Vos Compétences Professionnelles :</u></br>
                        </br>
                        • Le travail d’équipe, qui selon moi est crucial dans une entreprise,</br>
                        • Ma polyvalence,</br>
                        • Le fait d’être rigoureux renforce ma capacité à vouloir faire et rendre un travail de qualité,</br>
                        • Ma curiosité est de loin mon meilleur atout car c’est grâce à lui que j’aime ce que je fais aujourd’hui,</br>
                        • Etre persévérant et savoir prendre du recul me permet de réfléchir strategiquement,</br>
                        • Mon autonomie est aussi très appréciée en entreprise.


                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Vos traits de personnalité :</u></br><br> Ils ont été évalués dans différents milieux : au sein de ma famille, de mes amis, et moi-même. Selon eux je suis quelqu’un qui est à l’aise en travail d’équipe
                        (coopératif, impliqué, à l’écoute, rationnel), mais malgré tout renfermé (timide, réservé, ayant du mal à accorder sa confiance aux amis proches), et parfois dur avec moi-même (isolement en cas de difficulté, manque de confiance
                        en soi, a du mal à se mettre en valeur). Cependant tout cela n’affecte en rien mes capacités à être cool, respectueux, poli, rétro, empathique, intelligent, calme, …
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Vos centres d'intérêt :</u></br><br> Ils sont assez ciblés : lire, jouer aux jeux vidéo, informatique (amateur de collection de vieux ordinateurs, apprentissage de vieux langages de programmation), électronique
                        (Arduino, Raspberry PI), autodidacte (électronique, informatique, micro-informatique).
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Votre itinéraire pro-passé :</u></br><br> Après le collège, je suis allé en lycée professionnel, notamment en raison du peu de sérieux que j’avais à ce moment-là. Mon choix s’est alors porté sur le Bac
                        Processionnel Système Electronique et Numérique dans le lycée Déodat de Séverac. Durant ces trois années, ma passion dans le domaine de l’informatique n’a fait que croitre. De plus, je pris peu à peu goût au développement informatique
                        durant mes différentes sessions de stage en entreprise (je remercie David PHAM, gérant de la société D@videv Informatique pour m’avoir formé). A la fin de cette formation, j’ai hésité entre continuer mes études avec un BTS SIO
                        au lycée Ozenne à Toulouse ou poursuivre au lycée Déodat de Séverac avec le BTS Système Numérique. Après quelques semaines de réflexion, j’ai décidé de mettre le BTS SN (système numérique) en premier vœu, étant déjà scolarisé au
                        lycée Déodat, et ayant mes amis dans le même établissement. De ce fait le BTS SIO fut mis en seconde place, jugé à mes yeux moins important. Mon premier vœu a alors été accepté. Après ces deux années en BTS SN, j’ai dû décider
                        ou non de poursuivre mes études. Etant major de promotion à ce moment-là, je ne voulais pas gâcher ma chance de pouvoir continuer vers une licence classique ou professionnelle. J’ai alors posé me candidature dans différentes écoles,
                        que ce soit en licence informatique (L2 et L3) à l’université Paul Sabatier ou dans des licences professionnelles. Au final, une seule formation m’a accepté : la licence professionnelle APSIO (Analyste Programmateur de Systèmes
                        Informatiques Ouvert) à l’IUT de Blagnac. J’ai donc dû contacter plusieurs entreprises acceptant de prendre des étudiants en alternance. Je fus alors pris chez Engie INEO. Après un entretien concluant, j’ai commencé à travailler
                        là-bas. A la fin de cette année de licence, souhaitant poursuivre mes études, j’ai soumis ma candidature dans différentes écoles : l’ENSEEIHT (que deux employés d’Engie INEO m’avaient conseillé), le Master ICE en alternance à l’université
                        Toulouse II Jean Jaurès et d’autres formations professionnelles. Je fus pris dans le Master quelques jours seulement avant le début des cours. Je suis donc resté dans la même entreprise. Si aucune formation ne m’avait accepté,
                        j’aurais alors signé un CDI chez Engie.
                    </div>
                </div>
                <div id="blocCorentin" class="container">
                    <div class="paragraphe paragrapheCV">
                        <a class="linksCV" href="/Grandchamps_C_CV.pdf" target="_blank">Télécharger&nbsp;son&nbsp;CV</a>
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Traits de personnalité : </u><br><br>D'après mes proches, j'ai globalement bon fond, je suis ainsi sympathique, gentil, protecteur, drôle, agréable, calme, patient, à l'écoute, intelligent, curieux, optimiste.
                        On dit de moi que je suis plus extraverti qu'introverti, que la confiance que j'ai en moi peut se voir ce qui me permet d'être facilement sociable. D'après eux, j'ai aussi une personnalité forte, dans le sens où je me positionne
                        naturellement facilement comme leader du groupe. Je sais faire preuve de sérieux, d'implication et de sang-froid lorsqu'il le faut. D'un autre coté je suis aussi quelqu'un de tétu et de fier. Je suis souvent maladroit, je manque
                        d'habileté avec les mots lorsqu'il s'agit de m'exprimer oralement, je ne sais pas cacher mes émotions. Je suis aussi parfois égoïste. Malgré mon tempéramment calme, je peux être très sanguin sur certains sujets. Je travaille d'ailleurs
                        cet aspect là de moi pour faire passer la réflexion avant les émotions lorsque j'explose de colère. Quand je ne me contrôle plus, je ne suis pas très sympathique ; j'envoie simplement balader le monde. Pour terminer, ma caractéristique,
                        c'est d'apprendre de mes erreurs et de toujours voir le bon côté des situations passées, même des pires.
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Centres d'intérêts : </u><br><br>A une époque je faisais du théâtre, j'ai ensuite fais du dessin pendant 7 petites années. Entre temps j'ai fait un peu de basse et créé quelques musiques sur des logiciels
                        dédiés. J'aime cuisiner et expérimenter des plats. Globalement j'aime toucher à tout, guidé par ma curiosité.<br>En terme de divertissement, comme beaucoup de monde, je profite des films et séries. Je lis aussi : Romans, BD, comics,
                        mangas... Mais ce que j'aime par dessus tout, c'est jouer aux jeux vidéos. Parmi les jeux que j'affectionne on retrouvera principalement les jeux de stratégie et de gestion. Je joue aux jeux vidéos depuis très longtemps et de cette
                        passion en a découlé une curiosité pour l'informatique. J'en ai finalement fait ma vocation. Je porte un intérêt particulier aux domaines de l'intelligence artificielle et de la robotique.
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Itinéraire professionnel passé : </u><br><br>Je pense que ce qu'il est important de retenir, c'est que j'ai commencé à m'orienter dans l'informatique durant le lycée. J'ai eu la chance en Terminale Scientifique
                        de pouvoir accéder à cette option \"Informatique et Sciences du Numérique\" qui m'a rendu confiant dans le fait que l'informatique pouvait me plaire. S'en est suivi un passage à l'Université Toulouse III Paul Sabatier. J'étais
                        ainsi dans la filiaire Sciences Fondamentales Appliquées spécialité Informatique. J'ai redoublé à deux reprises ma première année pour finalement orienter ma formation vers le BTS Services Informatiques aux Organisations (SIO),
                        avec en seconde année la spécialité Solutions Logicielles et Applications Métiers (SLAM). Ce BTS offre de nombreuses informations et permet d'approcher plusieurs domaines liés à l'informatique. Je pensais alors m'arrêter à BAC+2
                        ayant perdu une certaine confiance en moi lors du passage à la faculté. <br><br>Finalement j'ai été parmi le podium de la promo du BTS ce qui m'a fait envisager de continuer, au moins pour une année, mes études. Ainsi j'ai mis
                        le cap sur une Licence Professionnelle (APSIO) en alternance. L'idée c'était de développer mon expérience professionnelle (réduite aux mois de stage réalisés en BTS) tout en continuant d'étudier. Le but final étant d'avoir un diplôme
                        BAC+3 et 1 an d'expérience pour rentrer dans la vie active.<br><br> Bon, si vous me lisez là, vous vous doutez bien de la suite... J'ai été parmi le top de la promo de la Licence Professionnelle. Et ça, ça ouvre des portes que
                        je n'envisageais plus atteindre après la faculté. Ainsi, poussé par ma réussite, je me suis accordé le droit de penser que je pouvais avoir accès à un Master, afin de finalement réaliser un BAC+5, être \"ingénieur\" et ainsi faciliter
                        ma vie future. Je n'avais pas beaucoup de choix à ce moment là, puisque reprendre un Master à formation continue m'aurait privé de mes ressources financières dont je dépendais. Mon dévoulu s'est donc jeté sur le Master ICE, réalisable
                        en alternance, disponible sur Toulouse. Et je suis vraiment heureux d'avoir réalisé ce parcours pour le moins marginal.
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Incidents de parcours : </u><br><br>Depuis tout petit, j'use de mes facilités pour réussir. Au collège j'avais de bonnes notes sans travailler. Arrivé au lycée, mes facilités n'ont plus compensé les connaissances
                        nécessaires pour être \"bon\" scolairement parlant. J'ai sauvé mon bac de justesse et je me suis tourné automatiquement vers la faculté sans réfléchir à d'autres options. Si on remonte à mon année de Première, c'est durant les
                        vacances de Toussaint que mon père et ma mère, jusqu'alors mariés, se sont séparés, non sans complications et violences (verbales et psychologiques). Notre père a quitté le domicile familial avant la fin des vacances, nous laissant
                        la maison à ma mère, mon petit frère et moi. Entre frères, nous avions une relation conflictuelle. Notre mère n'avait pas énormément d'autorité, puisque c'était notre père qui assumait ce rôle. Bref, arrivé la fin de la Terminale,
                        je me suis littéralement enfui de là-bas. Une fois sur Toulouse, j'ai été d'abord en collocation avec des amis, puis en couple dans un appartement. C'est aussi là que j'ai compris que je ne pourrais plus avoir confiance en mon
                        père, que je ne pourrais plus compter sur lui. Mais c'est surtout durant ces deux années de faculté que je me suis reconstruit, que j'ai gagné en maturité, que j'ai profité de cette nouvelle vie pour l'apppréhender et pour fermement
                        la prendre en main. Je n'ai pas perdu deux ans de ma vie, c'était une passe nécessaire à mon accomplissement.
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Compétences professionnelles : </u><br><br>Je pense que mes années de formation et d'expérience m'ont apporté les compétences techniques nécessaires pour m'épanouir techniquement dans mon travail. En
                        outre, je suis quelqu'un d'autonome, je sais m'adapter aux situations que je rencontre, je m'implique beaucoup et j'irai jusqu'à dire que j'ai un souci du détail. Mon chef de projet dit de moi que j'apprends vite les choses, que
                        je me les approprie vite. Je fais énormément attention à mon attitude. J'essaie de gérer les conflits au mieux, sans laisser mes émotions prendre le dessus (étant sanguin sur certains sujets c'est primordial pour éviter les conséquences
                        fâcheuses d'actes et de paroles démesurés et peu intelligents). On est là pour faire avancer les choses intelligemment. Jusqu'à présent je réagissais mal aux changements, aux critiques, et au fait de m'ouvrir à de nouvelles choses.
                        Je travaille aussi énormément cet aspect là pour modifier ce comportement enfantin, néfaste pour mon évolution personnelle et professionnelle. Je garde une attitude rigoureuse lors de mes échanges avec les autres collaborateurs,
                        même avec ceux que je n'apprécie pas. Travailler en équipe ne me pose aucuns souci tant que l'honnêté prime. J'essaie d'être rapide et efficace dans mes réalisations, l'idée étant de répondre aux besoins dans le temps imparti.
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Attentes professionnelles et personnelles : </u><br><br>J'ai un projet ambitieux, de monter ma propre société de jeux vidéos indépendants. Pour ce faire, il faut absolument que mon expérience professionnelle
                        se fasse dans un premier temps sur le plan technique, puis managerial.<br><br>A court terme, je souhaite continuer de faire évoluer mes connaissances techniques dans le domaine que je côtoie aujourd'hui. A moyen terme je souhaite
                        développer des compétences de chef de projet et de relation client. Entre ces objectifs, mon envie personnelle est de réaliser un long voyage en solitaire, m'obligeant à sortir de ma zone de confort et à me dépasser afin de revenir
                        en France (ou pas ?) avec une meilleure version de moi.
                    </div>
                </div>
                <div id="blocQuentin" class="container">
                    <div class="paragraphe paragrapheCV">
                        <a class="linksCV" href="/quentin_ceschin_cv.pdf" target="_blank">Télécharger&nbsp;son&nbsp;CV</a>
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Mes attentes professionnelles et personnelles : </u><br><br>J’aimerais atteindre le statut de cadre ou de chef d’équipe car le management d’une petite équipe autant sur le plan humain que technique me
                        semble très intéressant et formateur. Je souhaite cependant garder une majorité de mon temps pour développer et vraiment faire partie de l’équipe. Je souhaite me placer en tant qu’expert métier car cela nécessite beaucoup de connaissance
                        et de recherche, deux aspects que je trouve important de maîtriser pour se considérer comme un bon informaticien.
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u></u>Mes compétences professionnelles : </u><br><br>Dans le monde du développement, je me place en tant que développeur fullstack, c’est-à-dire que mes compétences sont réparties un peu partout dans le
                        domaine du logiciel. En effet côté back-end (Traitement métiers) : <br>Mes formations passées étaient fortement axées sur ce domaine. J’y ai appris à coder en Java, C#, Python et PHP. Comme vous pouvez le voir avec ces technologies,
                        je suis surtout formé autour de la programmation orientée objet. Ce concept est de plus en plus populaire et ce n’est pas pour me déplaire car j’adore tout simplement ça. Une grande partie de mon travail repose sur ma capacité
                        à bien programmer selon cette philosophie, ce qui garantit une bonne qualité de développement. <br>Coté front-end, c’est en entreprise que j’ai pu vraiment découvrir cet univers notamment via l’apprentissage de Web (HTML/CSS/JS)
                        et surtout la découverte du framework Vue.js. De ce fait j’ai appris à monter des sites internet complexes, sécurisés et maintenables.<br>De plus j’ai été sensibilisé via mes cours au devops et entrainé grâce à des projets personnels
                        qui m’ont permis d’apprendre à mettre en place le CI/CD (Continious Integration / Continious Delivery) et bien comprendre cet univers. <br>Coté compétence humaine, j’ai l’habitude de travailler en équipe (souvent agile) et j’apprécie
                        beaucoup le travail à plusieurs. Je sais comment me comporter en entreprise, autant sur le plan professionnel que sur le plan humain, et comment me montrer volontaire afin de communiquer ma motivation à tout le reste de l’équipe.
                        Je suis bon communicant et j’arrive à tisser des liens professionnels avec tous mes collègues afin de pouvoir collaborer dans de bonne conditions.

                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Mes traits de personnalités : </u><br><br> Après avoir demandé à mon entourage comment il me voit, il en est ressorti plusieurs grands axes :
                        <ul>
                            <li>La gentillesse et la bienveillance, notamment via mes conseils et ma capacité d’écoute. Peu importe le cadre, je suis là pour les aider, collègues ou amis, afin de ne laisser personnes se faire dépasser par ses difficultés.
                            </li>
                            <li>Les actions réfléchies, je fais des choix très logiques voir pragmatiques et raisonnés car la logique fait entièrement partie de ma personne. Elle est cependant originale de par la vision qu’elle apporte, ce qui peut sembler
                                être non adapté au premier abord. Mais son exercice, mes compagnons s’aperçoivent que mes actions ont un but qu’ils n’avaient pas vu.</li>
                            <li>La capacité à prendre le lead, c’est une chose que je fais quand il est nécessaire de prendre des décisions et que personne ne souhaite s’en occuper. J’exploite mes capacités en conception ainsi que des principes managériaux
                                simples, que j’ai pu observer en entreprise ou apprendre en cours.</li>
                            <li>Je suis de nature stressé, le sachant je fais des efforts pour le contrebalancer mieux mais je travaille mal sous la pression. Malheureusement, je n’ai pas choisi la profession la plus calme et j’apprends au travers de la vie
                                en entreprise à le gérer. J’ai tendance à m’enfermer sur moi-même dans les situations tendues par soucis de ne pas vouloir perturber mes camarades qui subissent, eux aussi, cette pression. </li>
                        </ul>
                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Mes centres d'intérêt : </u><br><br>Je suis un grand passionné de jeux vidéo, notamment des jeux rôles et d’aventure. Ils me permettent de voyager dans des contrées irréelles aux lois propres. Cette évasion
                        permet de faire travailler mon imaginaire et stocker des bonnes idées pour mes futures applications. <br>J’apprécie beaucoup les jeux en équipe et en coopération, car s’amuser avec ses amis permet de nouer des liens qui, mêmes
                        à distance, resteront solide. De plus la gestion d’une équipe, ainsi que du conflit et du mental sont des aspects que j’apprécie beaucoup car ce sont pour moi des notions presque aussi importantes qu’avoir un bon niveau de jeu.
                        <br>Bien sûr comme tout bon informaticien, j’aime bien les nouvelles technologies dont je surveille les avancées. Qui sait, peut-être que le programme ultime est à portée de main. Notamment les progrès en intelligence artificielle
                        ou la robotique qui sont pour moi les deux axes prometteurs. <br>Quand j’ai un peu plus de temps libre, je retrouve une bande de copains, pour aller faire de l’escalade en salle. Il s’agit d’une activité sportive que j’apprécie
                        énormément notamment par la présence de mes amis mais aussi car cette discipline demande un certain niveau de dépassement de soi. La progression se fait par à-coup mais reste très satisfaisante et l’entraide permet de ne pas rester
                        bloquer sur un obstacle trop longtemps.

                    </div>
                    <div class="paragraphe">
                        &nbsp;&nbsp;&nbsp;&nbsp;<u>Mon itinéraire professionnel/scolaire passé : </u><br><br>Suite à mon baccalauréat scientifique, je me destinais à des études de chimie. Dans cette optique, j’ai intégré l’IUT de Castres. Cependant cette
                        première année post-bac ne s’est pas bien passée. En effet, je manquais un peu de maturité et surtout de connaissance sur le monde des études supérieures.De plus, j'ai pu m'apercevoir que cette voie ne me plaisait pas du tout.
                        <br>Je me suis donc réorienté vers un nouveau domaine, l’informatique. Je suis alors entré en première année de DUT informatique à l’IUT de Blagnac. En découvrant ce domaine, j’ai fait la connaissance d’un monde qui me passionne
                        aujourd’hui. <br>Dans l’optique de faire un parcours jalonné, j’ai fait une licence professionnelle APSIO, situé à l’IUT de Blagnac, en alternance qui est spécialisée dans le développement logiciel. J’ai choisi Synapse Développement
                        comme entreprise de par son expertise en intelligence artificielle appliquée au langage naturel et de son cadre. Cette année s’est très bien passé. Puis j’ai poursuivi avec le Master ICE à l’université Toulouse II Jean Jaurès en
                        alternance dans la même entreprise que la licence professionnelle, dans l’optique de terminer mon cursus et d’avoir un avis sur la recherche informatique qui est très bien représentée dans ce master.

                    </div>
                </div>
                <div class="textsMarge"></div>
            </div>
        </div>
    </div>
    <script src="./informations.js"></script>
</body>

</html>