body {
    margin: 0;
}

input {
    flex-basis: 100%;
    border: none;
    text-indent: 5px;
    font-size: x-large;
}

input:focus {
    outline: none;
}

#input {
    display: flex;
    height: 30px;
}

#firstContainer {
    display: flex;
    height: 100vh;
}

#leftContainer {
    display: flex;
    flex-direction: column;
    flex: 2;
    border-right: 2px solid #05FC69;
}

#rightContainer {
    display: flex;
    flex: 1;
    border-left: 2px solid #05FC69;
}

#smoothDisplay {
    flex: 10;
    border-bottom: 2px solid #05FC69;
}

#commandResults {
    flex: 2;
    border-bottom: 2px dotted #05FC69;
    overflow-y: auto;
}

#commandInput {
    flex-direction: column;
    font-size: x-large;
}

#documentation {
    flex: 1;
    overflow-y: auto;
}

#textInput {
}

#textResults {
}

.colors {
    background-color: #061704;
    color: #05FC69;
}

#inputChevron {
    margin: auto;
}

.paddingContainer {
    padding: 5px;
}

#titleDocumentation {
    font-size: xx-large;
    padding: 25px 0px 0px 40px;
}

.fontFamily {
    font-family: monospace;
}