/**********/
/*---------------------- BODY / STRUCTURE / GENERIC ----------------------*/
/**********/

body {
    margin: 0;
}

#firstContainer {
    display: flex;
    height: 100vh;
}

#leftContainer {
    display: flex;
    flex-direction: column;
    flex: 2;
    border-right: 2px solid #05FC69;
}

#rightContainer {
    display: flex;
    flex: 1;
    border-left: 2px solid #05FC69;
}

#menuContainer {
    display: flex;
    flex: 10;
    border-bottom: 2px solid #05FC69;
}

.colors {
    background-color: #061704;
    color: #05FC69;
}

.paddingContainer {
    padding: 5px;
}

.fontFamily {
    font-family: monospace;
}

/**********/
/*---------------------- MENU ----------------------*/
/**********/

#menu {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#firstScenario {}

#secondScenario {}

#thirdScenario {}

.menuScenarios {
    flex: 1;
    border: 1px solid #05FC69;
    border-left: 10px solid #05FC69;
    border-right: 10px solid #05FC69;
    margin: 30px;
    font-weight: bold;
}

.menuScenarios:hover {
    border: 1px solid white;
    border-left: 10px solid white;
    border-right: 10px solid white;
}

.scenariosMenuText {
    color: whitesmoke;
    font-size: xx-large;
    padding: 1em;
}

/**********/
/*---------------------- SCREEN ----------------------*/
/**********/

#displayScreen {
    display: flex;
    flex-direction: column;
    flex: 2;
}

#displayScreenTitle {
    margin: 30px 30px 0px 30px;
    padding: 10px;
    color: #061704;
    font-size: xx-large;
    border: 2px solid whitesmoke;
    background-color: #05FC69;
    font-weight: bold;
}

#displayScreenText {
    flex: 1;
    border: 1px solid #05FC69;
    border-top: 30px solid #05FC69;
    margin: 20px 30px 30px 30px;
    overflow-y: auto;
    padding: 30px;
    font-size: large;
}

/**********/
/*---------------------- COMMAND RESULT ----------------------*/
/**********/

#commandResults {
    flex: 2;
    border-bottom: 2px dotted #05FC69;
    overflow-y: auto;
}

#textResults {

}

/**********/
/*---------------------- COMMAND INPUT ----------------------*/
/**********/

#commandInput {
    flex-direction: column;
    font-size: x-large;
}

#textInput {

}

input {
    flex-basis: 100%;
    border: none;
    text-indent: 5px;
    font-size: x-large;
}

input:focus {
    outline: none;
}

#input {
    display: flex;
    height: 30px;
}

#inputChevron {
    margin: auto;
}

/**********/
/*---------------------- DOCUMENTATION ----------------------*/
/**********/

#documentation {
    flex: 1;
    overflow-y: auto;
}

#titleDocumentation {
    font-size: xx-large;
    padding: 25px 0px 0px 40px;
}

#textDocumentation {
    margin: 30px;
    font-size: large;
}

/**********/
/*---------------------- SCROLLBAR ----------------------*/
/**********/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: 061704;
}

::-webkit-scrollbar-thumb {
    background: #05FC69;
}

::-webkit-scrollbar-thumb:hover {
    background: whitesmoke;
}